.App {
  text-align: center;
}

.nav-bar {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(124, 179, 197);
  color:white;
  height: 10vh;
}
button {
 width:100px;
 height:40px;
 background-color: black;
  color:white;
 text-align: center;
 font-size: 1.1em;
 border-radius: 5px;
}
